/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: var(--text-white);
}

:root {
  --purple: #8C13E0;
  --dark-purple: #503861;
  --dark-green: #4B6138;
  --light-green: #72E012;
  --dark-yellow: #615D38;
  --yellow: #E0CE12;
  --text-black: #160324;
  --text-white: #DFE1FF;

  --primary: var(--yellow);
  --secondary: var(--dark-yellow);
  --background: #1B1B1B;

  --info: var(--light-green);
  --warning: #E6F522;
  --error: #EB5E30;
}

body {
  background-color: var(--background);
  color: var(--text-white);
  margin: 0;
}

.title-font {
  font-family: "Eagle Lake", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.content-font {
  font-family: "IM Fell English", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

input {
  border-radius: 15px;
  border: 0;
  padding: .4rem .8rem;
  background-color: var(--dark-yellow);
}

button {
  width: fit-content;
  border-radius: 15px;
  background-color: var(--background);
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: .8rem 1.5rem;
  font-size: 1rem;
}
