:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

div {
  width: 20rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input {
  border-radius: 15px;
  border: 0;
  padding: .4rem .8rem;
  background-color: var(--dark-yellow);
}

button {
  width: fit-content;
  border-radius: 15px;
  background-color: var(--background);
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: .8rem 1.5rem;
  font-size: 1rem;
}
