.header {
  width: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  position: relative;
  padding: 0;
}

.content {
  display: flex;
  margin-bottom: 3rem;
  width: 100%;
  padding: 0 12rem;
}

@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }
}
